/* Estilos generales */
.landing-page {
  font-family: Arial , sans-serif;
  padding: 1%;
}

.hero-section {
  color: rgb(41, 41, 41);
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
}

.cta-btn-container {
  margin-top: 1px;
  float: right;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cta-btn {
  padding: 8px 7px;
  background: linear-gradient(45deg, #022730,#0e1538,#223596,#18bae2);
  width: 100%;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.card {
  border: 2px solid rgb(92, 92, 92);
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #022730,#0e1538,#223596,#18bae2);
  color: white;
  border: none;
  cursor: pointer;
}

.Log-landingp {
  width: 15%;
  float: left;
}

.img-card {
  width: 25%;
  padding: 2%;
}

@media (max-width: 767px) {
  body {
      font-size: 14px; /* Ajustar el tamaño de la fuente en pantallas pequeñas */
  }

  header {
      padding: 15px;
  }

  .container {
      padding: 15px;
  }

  .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu li {
      margin: 10px 0;
  }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 16px;
  }

  header {
      padding: 20px;
  }

  .container {
      padding: 25px;
  }

  .menu {
      display: flex;
      justify-content: space-around;
  }

  .menu li {
      margin: 0 10px;
  }
}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1025px) {
  body {
      font-size: 18px;
  }

  header {
      padding: 30px;
  }

  .container {
      padding: 40px;
  }

  .menu {
      display: flex;
      justify-content: space-between;
  }

  .menu li {
      margin: 0 20px;
  }
}