  /* Títulos */
  h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Etiquetas de los campos */
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
    font-weight: 500;
  }
  
  /* Input de fecha */
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Contenedor de jugadores */
  .players-container {
    margin-bottom: 20px;
  }
  
  .player-ite {
    width: 60%;
    padding: 3%;
    
  }
  
  /* Selector de jugador */
  select {
    flex: 1;
    min-width: 250px; /* Ancho mínimo */
    max-width: 350px; /* Controlar el ancho máximo */
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    white-space: nowrap;
  }
  
 
@media (max-width: 767px) {
  body {
      font-size: 14px; /* Ajustar el tamaño de la fuente en pantallas pequeñas */
  }

  header {
      padding: 15px;
  }

  .container {
      padding: 15px;
  }

  .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu li {
      margin: 10px 0;
  }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 16px;
  }

  header {
      padding: 20px;
  }

  .container {
      padding: 25px;
  }

  .menu {
      display: flex;
      justify-content: space-around;
  }

  .menu li {
      margin: 0 10px;
  }
}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1025px) {
  body {
      font-size: 18px;
  }

  header {
      padding: 30px;
  }

  .container {
      padding: 40px;
  }

  .menu {
      display: flex;
      justify-content: space-between;
  }

  .menu li {
      margin: 0 20px;
  }
}