.container 
{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #babac4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial", sans-serif;
    align-items: center;
  }
  
  .player-container{
    display: flex;
    justify-content: center;
    
  }
  h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #ffffff;
  }  

  
  .stats-container {
    width: auto;
    display: flex;
    flex-direction: column;     
  }
  
  .stat-row {
    width: 100%;
    display: flex;
    align-items: stretch;    
    justify-content: space-between;
    margin-right: 16px;
  }
  
  .stat-row select {
    padding: 8px;
    border: 1px solid #444;
    background: #68686d;
    color: #ffffff;
    border-radius: 5px;
  }


  .stat-row input {
    padding: 8px;
    border: 1px solid #444;
    background: #68686d;
    color: #ffffff;
    border-radius: 5px;
  } 

  .delete-btn {
    background: #e74c3c;
    color: white;  
}

  
  .add-btn {
    background: #4caf50;
    color: white;
  }
  
  .add-btn:hover {
    background: #3d8b40;
  }
  

  
  .delete-btn:hover {
    background: #c0392b;
  }
  
  .save-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    margin-top: 16px;
  }
  
  .save-btn:hover {
    background: #0056b3;
  }
  

  @media (max-width: 767px) {
    body {
        font-size: 14px; /* Ajustar el tamaño de la fuente en pantallas pequeñas */
    }
  
    header {
        padding: 15px;
    }
  
    .container {
        padding: 15px;
    }
  
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .menu li {
        margin: 10px 0;
    }
  }
  
  /* Estilos para pantallas medianas (tabletas) */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
  
    header {
        padding: 20px;
    }
  
    .container {
        padding: 25px;
    }
  
    .menu {
        display: flex;
        justify-content: space-around;
    }
  
    .menu li {
        margin: 0 10px;
    }
  }
  
  /* Estilos para pantallas grandes (escritorios) */
  @media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
  
    header {
        padding: 30px;
    }
  
    .container {
        padding: 40px;
    }
  
    .menu {
        display: flex;
        justify-content: space-between;
    }
  
    .menu li {
        margin: 0 20px;
    }
  }