.home {
    text-align: center;
    padding: auto;
    margin-top: 1px;
    background: linear-gradient(rgb(233, 233, 233), rgba(177, 205, 247, 0.651));
    font: optional;
  }
  
  .home h1 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .home-gif {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
  }
 