.home {
    text-align: center;
    padding: auto;
    margin-top: 5px;
    background: #dad3d2;
    font: optional;
  }
  
  .home h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .home-gif {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
  }
 