/* Estilos generales del formulario */
.formu-addplayer
{   
    width: min(350px, 90%); /* Limita el ancho del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 3rem 10rem; /* Agrega espacio interno */
    border: 5px solid #ccc; /* Borde para visualizar los límites */
    background-color: #f9f9f9; /* Fondo para contraste */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .formu_label{
    display: grid;
  }
 
  .styled-date {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .styled-date:hover {
    border-color: #888;
  }
  
  .styled-date:focus {
   border-color: #007bff;
   outline: none;
   box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
  .styled-date::-webkit-calendar-picker-indicator {
   filter: invert(0.5); /* Cambia el color del ícono del calendario */
   cursor: pointer;
  }

  .styled-date::placeholder {
    color: #999;
  }  

  .styled-date:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }  

.log-players {
  width: min(100px, 90%);
  
}

.datacard{

  display: flex;
  flex-direction: row;

}


  